:root {
    --colorh3Expli: #2a2929;
    --fondoBoton: #ffffff;
    --fondoHeader: #0284cf;
    --fondoTextExpli: #f2f2f2;
    --fondoFotter: #292d2d;
    --fondoCabezera:#f2f2f2;
    --fonfoBarraTareas:#4d4d4d;
}