<ion-header>
  <ion-toolbar>
    <ion-title>Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Gestión de Base de Datos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Administra la base de datos de alimentos y recetas.</p>
    </ion-card-content>
  </ion-card>
  <!-- Funcionalidad para gestionar alimentos -->
  <ion-item>
    <ion-label>Actualizar Alimentos</ion-label>
    <ion-button expand="full">Gestionar</ion-button>
  </ion-item>
  <!-- Funcionalidad para generar reportes -->
  <ion-item>
    <ion-label>Generar Reportes</ion-label>
    <ion-button expand="full">Generar</ion-button>
  </ion-item>
</ion-content>
