@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lineazul {
    background-color: var(--fondoHeader);
    height: 3px;
    width: 8rem;
}

#cabezera-chico {
    display: none;
}

#cabezera-grande {
    background-color: var(--fondoCabezera);
    display: flex;
    justify-content: center;
    max-height: 2.5rem;
    align-items: center;
    column-gap: 38rem;
    border-bottom: var(--fondoHeader) solid 5px;
    padding-left: 6rem;
    padding-right: 6rem;

    #part1 {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        max-width: 20rem;
        cursor: pointer;

        p {
            margin: 4px 0px;
            width: 14rem;
            font-weight: 200;
        }
    }

    //........//
    #part2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 20px;

        p {
            cursor: pointer;
        }

    }
}


//----------------------------- espacio media queries cabezera//
@media (max-width: 1115px) {
    #cabezera-grande {
        display: none;
    }

    #cabezera-chico {
        background-color: var(--fondoCabezera);
        display: flex;
        justify-content: center;
        max-height: 2.5rem;
        align-items: center;
        border-bottom: var(--fondoHeader) solid 5px;
        padding-left: 6rem;
        padding-right: 6rem;

        #part1 {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 16px;
            max-width: 20rem;
            cursor: pointer;

            p {
                margin: 4px 0px;
                width: 16rem;
                font-weight: 300;
            }
        }
    }
}

//----------------------------- //

#img-titulo-p {
    display: none;
}

header {
    height: auto;
    width: 100%;
    color: var(--fondoBoton);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: auto;
    column-gap: 8rem;
    margin: 8px 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    .linea-horizontal {
        height: 5rem;
        background-color: black;
        border: none;
        margin: 20px 0;
        width: 2px;
    }

    img {
        max-width: 20rem;
        margin: 10px 0px;
    }

    #titulo-pagina {
        max-width: 20rem;
    }

    h1 {
        color: #6388ab;
        display: flex;
        justify-content: center;
        font-size: 27px;
        font-weight: 700;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    #botones {
        display: flex;
        justify-content: space-evenly;
        align-items: end;
        align-items: center;
        margin-left: 10rem;
        margin-right: 10rem;
        margin-top: 5rem;

        .botonLinkeador {
            width: 10rem;
        }
    }

    #img-titulo-g {
        display: flex;
        align-items: center;
        column-gap: 8px;
    }

    #boton-buscador {
        display: flex;
        justify-content: space-between;
        column-gap: 20px;
        align-items: center;

        #TV {
            background-color: transparent;
            border: 1px solid red;
            width: 15vh;
            height: 5vh;
            border-radius: 6px;
        }

        input {
            width: 90%;
            height: 5vh;
            color: black;
            border-radius: 6px;
        }

        #search {
            width: 13vh;
            height: 5vh;
            border-color: var(--fondoHeader);
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }

    }

}

//----------------------------- espacio media queries cabezera//

@media(max-width: 1024px) {
    header {
        display: none;
    }

    #img-titulo-p {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 5rem;
        padding-right: 5rem;

        img {
            max-width: 10rem;
            margin: 10px 0px;
        }

        h1 {
            font-size: 20px;
        }
    }

}

// menu de opciones --------------------------------//


#baseMenu {
    display: flex;
    justify-content: center;

    #menuOption {
        display: flex;
        background-color: var(--fonfoBarraTareas);
        width: 90%;
        column-gap: 10px;
        border-radius: 10px;
    }

    .botonLinkeador {
        --background: var(--fonfoBarraTareas);
        --border-color: var(--fondoBoton);
    }
}

#icono {
    display: flex;
    flex-direction: row;
    #salir {
        font-size: 2rem;
    }
    #header {
      text-align-last: center;
    }
}

ion-footer {
    background-color: #333333;
    color: #ffffff;
    padding: 40px 0;
    border-top: #009edb solid 0.3rem;

    .footer-contenidos {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;

        .otroDivisor {
            border-top: #5b5b5b solid 1px;
            margin: 1.6rem 0 1.9rem 0;
            padding: 0 1rem;
        }

        .divisor {
            border-top: #5b5b5b solid 1px;
            margin: 1.6rem 0 1.9rem 0;
            padding: 0 1rem;
        }

        #ul {
            padding-left: 0;
            list-style: none;
            margin-left: -5px;
            display: flex;
            flex-wrap: wrap;

            #ultimo {
                padding-right: 0;
                border-right: none;
            }

            li a {
                text-decoration: none;
            }

            li a:hover {
                text-decoration: none;
            }

            li {
                padding: 0 1.3rem 0 1rem;
                border-right: gray solid 0.3rem;

                a {
                    font-weight: 500;
                    font-size: 0.7rem;
                    color: white;
                    letter-spacing: 0.77px;
                    line-height: 1.1667;
                    padding: 0;
                    text-transform: uppercase;
                }
            }
        }

        .footer-secciones {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .footer-seccion {
                flex: 1;
                margin: 10px;

                #trato {
                    border-right: gray solid 0.3rem;
                    margin-left: 10px;
                }

                img {
                    width: 13rem;
                }

                h5 {
                    font-size: 1.2rem;
                    margin-bottom: 10px;
                }

                ul {
                    list-style-type: none;
                    padding: 0;

                    li {
                        margin-bottom: 5px;

                        a {
                            color: #C4C4C4;
                            text-decoration: none;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    &.iconos-sociales {
                        display: flex;
                        gap: 10px;
                        justify-content: right;

                        button {
                            // width: 7.2rem;
                            // height: 1.8rem;
                            padding: 0.7rem 1.3rem;
                            color: #000000;
                            background-color: white;
                            border-radius: 5px;
                            font-family: monospace;
                            margin-left: 1rem;
                            font-weight: 700;
                            font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
                        }

                        li {
                            margin: 0;

                            a {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
            }
        }

        .footer-bottom {
            text-align: center;
            margin-top: 20px;

            p {
                margin: 0;
            }
        }
    }
}