<ion-content [fullscreen]="true" class="nose">
  <h1 id="tituloSuperior">Calculadora de Huella de Carbono</h1>
  <ion-card class="subTitulo">
    <ion-card-header>
      <ion-card-title id="titulo">Calculadora de Huella de Carbono</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p id="titulo">Navega y descubre la información nutricional y la huella de carbono de los alimentos.</p>
    </ion-card-content>
  </ion-card>

  <div class="botones">
    <ion-button (click)="irNoRegistrado()" class="botonLinkeador">No Registrado</ion-button>
    <ion-button (click)="irRegistrado()" class="botonLinkeador">Registrado</ion-button>
    <ion-button (click)="irAdmin()" class="botonLinkeador">Admin</ion-button>
  </div>
  <div class="texto">
    <p>Para asegurar que el nuevo sitio web y el desarrollo del módulo para cálculo de información
      nutricional y huella de carbono cumplan con los altos estándares de calidad y funcionalidad,
      y por recomendación de los profesores de la Sede Melipilla de DUOC UC, la ONG ha decidido
      contratar a su equipo semestral de la asignatura Calidad de Software para asesorar a la
      organización en la creación y gestión de un proceso de pruebas completo, enfocado en
      garantizar la calidad del desarrollo y el cumplimiento de todos los requisitos establecidos
      para el sistema.</p>
  </div>
  <footer>
    <button id="botonFooter">Contactanos</button>
    <button id="botonFooter">Donde Estamos</button>
    <button id="botonFooter">Nuestras Redes Sociales</button>
  </footer>
</ion-content>