<ion-content [fullscreen]="true" class="nose">
  <header>
    <img src="https://th.bing.com/th/id/R.7afe66d7e7b29f377b2b94560f212882?rik=DYBCmNkRzAyt0w&pid=ImgRaw&r=0" alt="">
    <h1 id="tituloSuperior">Calculadora Huella de Carbono "ONG life and sustentability"</h1>
    <div id="botonos">
      <ion-button title="registrar usuario" (click)="irNoRegistrado()" class="botonLinkeador">
        <ion-icon name="person-add"></ion-icon>
      </ion-button>
      <ion-button title="usuario premium" (click)="irRegistrado()" class="botonLinkeador">
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
      <ion-button title="administracion" (click)="irAdmin()" class="botonLinkeador">
        <ion-icon name="server"></ion-icon>
      </ion-button>      
    </div>
  </header>
  <div class="sub-titulos">
    <h1>Info Nutricional Platos Chilenos</h1>  
  </div>
  <div id="productos"> 
    <ion-card>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>
  </div> 
  <div class="sub-titulos">
    <h1>Nuestro proposito</h1>  
  </div>
  <div class="texto">
    <h3>Para asegurar que el nuevo sitio web y el desarrollo del módulo para cálculo de información
      nutricional y huella de carbono cumplan con los altos estándares de calidad y funcionalidad,
      y por recomendación de los profesores de la Sede Melipilla de DUOC UC, la ONG ha decidido
      contratar a su equipo semestral de la asignatura Calidad de Software para asesorar a la
      organización en la creación y gestión de un proceso de pruebas completo, enfocado en
      garantizar la calidad del desarrollo y el cumplimiento de todos los requisitos establecidos
      para el sistema.</h3>
  </div>
  <footer>
    <div class="titulos-fotter">
      <div class="info-fotter">
        <img src="https://png.pngtree.com/png-vector/20220831/ourmid/pngtree-banyan-tree-logo-design-vector-png-image_6131481.png" alt="">
      </div>
      <div class="info-fotter">
        <h1>Sobre Nosotros</h1>
        <a href="">hola amigos</a>
      </div>
      <div class="info-fotter">
        <h1>hola amigos</h1>
        <a href="">hola amigos</a>
      </div>
      <div class="info-fotter">
        <h1>Redes Sociales</h1>
        <a href="">
          <ion-icon class="iconos-redes"  name="logo-instagram"></ion-icon>
        </a>
      </div>
    </div>
  </footer>
</ion-content>